@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@100;200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #eff1f3;
  height: 100vh;
  color: #fff;

  @import "header";
  @import "banner";
  @import "benefit";
  @import "offer";
  @import "project";
  @import "footer";
  @import "alert";

  .fc-projects-title {
    width: 100%;
    font-size: 42px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: 20px auto;
  }
}